

[workspace]
members = [
    "app",
    "osc-handler"
]
resolver = "2"

[profile.release]
strip = true
lto = true

[patch.crates-io]
egui_tracing = { git = "https://github.com/codabrink/egui_tracing.git", rev = "41e8728bd1f27a1e32823246659248cc11fc4dbf"}